<!DOCTYPE html>
<html ng-app="kanbanBoard" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8" />
    <title>Kanban</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Kanban.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script type="text/javascript" src="/Scripts/angular-mocks.js"></script>-->
    <script type="text/javascript" src="/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/KanbanController.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body ng-controller="kanbanController">
    <div class="topheader">
        <h1 class="topheadertext">Kanban Challange</h1>
    </div>

    
   
    


    <div class="board">
        <table style="float:right;">
            <tr>
                <td>
                    <div class="swimlane backlog" id="backlog">
                        <div class="swimheader backlog">Backlog</div>
                    </div>
                </td>
                <td>
                    <div class="swimlane" id="progress">
                        <div class="swimheader">In Progress</div>
                    </div>
                </td>
                <td>
                    <div class="swimlane complete" id="complete">
                        <div class="swimheader complete">Complete</div>
                    </div>
                </td>
            </tr>
            <tr style="height:500px;">
                <td>
                    <div class="swimlane" id="backlog">
                        <div class="swimboard backlog">
                            <div ng-click="activate(card)" class="{{getClass(card)}} " ng-repeat="card in board.backlog.cards">
                                <div>
                                    <i ng-disabled="cardBeingCreated()" ng-click="toRigth(card)" ng-hide="isCreate(card)" class="arrow right"></i>
                                    <input placeholder="Ender description here" ng-disabled="isDisabled(card)" class="cardinput" type="text" ng-model="card.description">

                                </div>

                                <p ng-hide="isCreate(card)" class="user">{{card.user}}</p>
                                <p ng-hide="isCreate(card)" class="date">{{card.date}}</p>
                                <p ng-show="isCreate(card)" class="user">...Creating</p>
                                <input ng-show="isCreate(card)" class="date save" type="button" value="save" ng-click="saveCard(card )"/>
                            </div>
                            <div class="add" ng-hide="cardBeingCreated()">
                                <i class="fa fa-plus"></i><input class="add" type="button" value="Add Card" ng-click="addCard()" />
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="swimlane" id="progress">
                        <div class="swimboard">
                            <div ng-click="activate(card)"  class="{{getClass(card)}}" ng-repeat="card in board.inProgress.cards">
                                <div><i ng-disabled="cardBeingCreated()" ng-click="toLeft(card)" class="arrow left"></i>
                                    <p class="cardinput" type="text">
                                        {{card.description}}
                                        </p><i ng-disabled="cardBeingCreated()" ng-click="toRigth(card)" class="arrow right"></i>

                                </div>

                                <p  class="user">{{card.user}}</p>
                                <p  class="date">{{card.date}}</p>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="swimlane" id="complete">
                        <div class="swimboard complete">
                            <div ng-click="activate(card)"  class="{{getClass(card)}}" ng-repeat="card in board.complete.cards">
                                <div><i ng-disabled="cardBeingCreated()" ng-click="toLeft(card)" class="arrow left"></i>
                                    <p class="cardinput" type="text">{{card.description}}</p>

                                   
                                </div>

                                <p class="user">{{card.user}}</p>
                                <p class="date">{{card.date}}</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>